<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.example.librarymanagement.servlets.AddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/addBook</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewBooksServlet</servlet-name>
        <servlet-class>com.example.librarymanagement.servlets.ViewBooksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewBooksServlet</servlet-name>
        <url-pattern>/viewBooks</url-pattern>
    </servlet-mapping>
</web-app>
